*{
  margin: 0;
  padding: 0;
}

/* Body */


body{
  background: #dfd7ef;
  font-size: 14px;
  font-family: 'Abel', sans-serif;
}

/* Header */


header{
  background-color: #e6e1f2;
}
header h1{
  text-transform: capitalize;
  font-size: 40px;
  float: right;
  text-align: center;
  padding: 20px 60px;
}
header p{
  font-size: 30px;
  padding: 70px 0px;
  text-align: center;
}


/* Container */


div{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
.row {
    margin-left: -30px;
}
.row:first-child>* {
    padding-top: 0!important;
}
.row>* {
    padding-left: 30px;
}
.row>* {
    float: left;
}
.\34 u {
    width: 33.3333333333%;
}
.image.featured {
    position: static;
    display: block;
    margin: 0;
}
.image {
    border: 0;
    position: relative;
}
.image.featured img {
    display: block;
    width: 100%;
}
.box {
    padding: 3em 2em;
    background: #FFF;
    text-align: center;
    border-radius: 0px 0px 6px 6px;
}
p{
  line-height: 2em;
  margin: 0 0 2em 0;
}
.row:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
