/* NAV animation */

nav {
    transition: all .6s ease;
}

/* Link border transition */
.nav-item-link {
    transition: all .3s;
}

/* Border and color transition */
.nav-item > .nav-item-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    margin: 0 auto;
    height: 2px;
    background: #000000;
    transition: all .3s;
}

.nav-item-link:hover::after {
    width: 100%;
}

.home-icon {
    transition: 0.3s 0.5s;
}

.nav-list {
    transition: all .3s .1s ease;
}

/* Sublist transition */
.nav-sublist {
    transition: 0.5s 0.5s;
}

/* Sublist items transition */
.nav-subitem {
    transition: all .3s ease, background .0s;
}

.nav-subitem:hover {
    font-size: 1.1em;
    background: rgba(0, 0, 0, 0.7);
}

.nav-subitem:hover .nav-subitem-link {
    color: #ffffff;
}

/* Services article transition */
.services-article {
    transition: all .3s ease;
    perspective: 1000px;
}

.services-article:hover {
    transform-style: preserve-3d;
    cursor: pointer;
}

/* Read more transition */
.read-more::after {
    content: '';
    width: 0;
    height: 2px;
    margin-left: 5px;
    background: #000;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    transition: all .3s;
}

.read-more {
    transition: all .3s .1s ease;
}

.read-more:hover::after {
    width: 20px;
}

.services-article:hover .read-more {
    opacity: 1;
    pointer-events: auto;
}

/* Services white box transition */
.services-info-container {
    transition: all .3s .3s;
}

.services-article:hover .services-info-container {
    transition-delay: 0s;
    padding-bottom: 80px;
}

.services-article:hover .services-info {
    transform: translateZ(0);
}

/* Apply now button transition */
.apply-btn {
    transition: all .3s;
}

.apply-btn:hover {
    background: #333;
    color: #fff;
    border: 1px solid #000;
    box-shadow: 4px 4px 6px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Footer icon transition */
.social-media-icon {
    transition: all .4s;
}