/* For now animation-type css is mixed in here. I'm too lazy to move it to a different file right now */

@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: 'Abel', sans-serif;
}

/* Blurriness gets removed from images */
img {
    transform: translateZ(0);
}

/* HEADER */

header {
    padding-top: 40vh;
    height: 60vh;
    max-height: 800px;
    background: url("../images/home-page/glasses-cat-matrix.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

nav {
    width: 100%;
    padding: 5px 10px 10px;
    background: rgba(239, 239, 239, 0.96);
    box-shadow: 0 0 44px rgba(0, 0, 0, .24);
    opacity: 1;
    position: fixed;
    z-index: 999;
}

.nav-stretch {
    height: 100vh;
    box-shadow: none;
}

div.nav-wrapper {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

div.logo-wrapper {
    width: 260px;
    display: inline-block;
}

img.nav-logo {
    max-width: 100%;
}

/* UNORDERED LIST */
/* Here flex is used so there aren't any invisible borders between list items */
ul.nav-list {
    margin-top: 30px;
    margin-right: 20px;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li.nav-item {
    list-style-type: none;
    display: inline-block;
}

li.home-item {
    cursor: pointer;
    outline: none;
}

a.nav-item-link {
    padding: 20px;
    color: #000;
    text-decoration: none;
    display: block;
    position: relative;
}

i.home-icon {
    padding-right: 7px;
}

/* HOME SUBLIST */
/* Added invisible border below Home so hover can get transfered to sublist */
li.home-item:hover::after {
    content: " ";
    position: absolute;
    width: 30%;
    height: 60px;
    background: transparent;
}

ul.nav-sublist {
    padding: 40px 0;
    opacity: 0;
    margin-top: 60px;
    background-color: rgba(239, 239, 239, 0.9);
    box-shadow: 0 0 84px rgba(0, 0, 0, .24);
    display: flex;
    flex-flow: wrap column;
    pointer-events: none;
}

li.nav-subitem {
    padding: 0 40px;
    list-style-type: none;
}

a.nav-subitem-link {
    padding: 10px;
    color: #000;
    text-decoration: none;
    display: block;
}

/* Menu for mobile */

div.icon-list-wrapper {
    width: 30px;
    height: 35px;
    padding: 10px;
    cursor: pointer;
}

i.icon {
    font-size: 2.5em;
}

i.icon::before {
    content: "\f0c9";
}

/* Welcome title */
div.title-container {
    background:
        linear-gradient(to right, rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    text-align: center;
}

h1.welcome-title {
    font-size: 4em;
    font-weight: 300;
    text-shadow: 0 0 30px rgb(229, 224, 221);
}

h2.welcome-subtitle {
    font-size: 2.5em;
    font-weight: 300;
    text-shadow: 0 0 30px rgb(229, 224, 221);
}

/* MAIN */

/* MISSION SECTION*/

section.mission-section {
    padding-top: 60px;
    text-align: center;
}

div.mission-article-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

article.mission-article {
    margin: 0 auto;
    padding: 20px;
}

img.mission-image {
    width: 100%;
}

p.mission-paragraph {
    font-size: 1.7em;
    margin: 20px auto 0;
    text-align: left;
    vertical-align: top;
}

a.reddit, a.tumblr, a.catuni {
    color: #B96936;
    text-decoration: none;
}

a.reddit:hover, a.tumblr:hover, a.catuni:hover {
    text-decoration: underline;
}

article.mission-article.second {
    vertical-align: top;
}

/* CATUNI MISSION ARTICLE*/
article.catuni-mission-article {
    background:
            linear-gradient(rgba(229, 224, 221, 0.6), rgba(229, 224, 221, 0.6)),
            url("../images/home-page/cat-quote-image.jpg") no-repeat center;
    background-size: cover;
    margin: 80px auto 50px;
    padding: 40px;
}

div.catuni-mission-container {
    max-width: 650px;
    vertical-align: top;
    margin: 0 auto;
}

h1.catuni-mission-title {
    font-size: 2.9em;
    font-weight: normal;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
}

/* SERVICES SECTION */

section.services-section {
    max-width: 1200px;
    margin: 0 auto;
}

article.services-article {
    padding: 20px;
    box-shadow: 6px 6px 23px -5px rgba(150, 150, 150, 0.6);
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-size: contain;
}

div.services-info-container {
    margin: 0 36px 0 20px;
    padding: 20px;
    background:
linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8));
    position: absolute;
    bottom: 5%;
}

h1.services-section-title {
    font-size: 4em;
    font-weight: 400;
    border-bottom: 3px solid #333;
    text-align: left;
    text-transform: uppercase;
    margin: 100px;
}

h2.services-title {
    font-size: 2em;
}

p.services-info {
    font-size: 1.4em;
    text-shadow: 1px 1px 10px rgba(150, 150, 150, 0.8);
}

a.read-more {
    font-size: 1.5em;
    padding-top: 10px;
    padding-right: 10px;
    opacity: 0;
    color: #000;
    position: absolute;
    right: 10px;
    bottom: 10%;
    text-decoration: none;
    pointer-events: none;
}

/* FIRST SERVICES ARTICLE */
article.services-article:first-of-type {
    background:
        linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.7)),
        url("../images/home-page/cat-orange-long.png") no-repeat center;
}

/* SECOND SERVICES ARTICLE */
article.services-article:nth-child(3){
    background:
        linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.7)),
        url("../images/home-page/cat-gray-high.png") no-repeat center;
}

/* THIRD SERVICES ARTICLE */
article.services-article:nth-child(4){
    background:
        linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.7)),
        url("../images/home-page/cat-fat-square.png") no-repeat center;
}

/* FOURTH SERVICES ARTICLE */
article.services-article:nth-child(5){
    background:
        linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.7)),
        url("../images/home-page/cat-orange-high.png") no-repeat center;
    background-size: contain;
}

/* FIFTH SERVICES ARTICLE */
article.services-article:nth-child(6){
    background:
        linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.7)),
        url("../images/home-page/cat-black-and-white-high.png") no-repeat center;
    background-size: contain;
}

/* SIXTH SERVICES ARTICLE */
article.services-article:nth-child(7){
    background:
        linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.7)),
        url("../images/home-page/cat-orange-square.png") no-repeat center;
    background-size: contain;
}

/* TESTIMONIALS SECTION */

section.testimonials-section {
    margin-top: 200px;
}

article.testimonials-article {
    min-height: 600px;
    background:
        linear-gradient(rgba(229, 224, 221, 0.1), rgba(229, 224, 221, 0.3)),
        url("../images/home-page/orange-cat-testimony.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

div.testimonials-wrapper {
    max-width: 1200px;
    min-height: inherit;
    margin: 0 auto;
    position: relative;
}

div.quote-container {
    height: 120px;
    padding: 80px 80px 60px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    position: absolute;
    right: 10%;
    top: 30%;
}

div.quote-container::before {
    font-family: FontAwesome, sans-serif;
    font-size: 3em;
    top: 20px;
    left: 20px;
    color: #333333;
    content: '\f10d';
    position: absolute;
}

p.testimonials-quote {
    margin-top: 20px;
    font-size: 2.2em;
}

div.testimonials-author {
    font-size: 1.3em;
    margin-top: 30px;
}

div.testimonials-author::before {
    content: '\2014';
}

/* APPLY SECTION */

section.apply-section {
    padding-top: 20%;
    background: linear-gradient(rgba(229, 224, 221, 0.1), rgba(229, 224, 221, 0.5));
    overflow: auto;
}

div.apply-container {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

div.apply-info-container {
    box-sizing: border-box;
    text-align: center;
    padding: 40px;
    border: 2px solid #333;
}

h1.apply-title {
    font-size: 3em;
    font-weight: normal;
    border-bottom: 2px solid #333;
}

div.button-container {
    margin-top: 60px;
    height: 30px;
    text-align: center;
}

button.apply-btn {
    font-size: 1.2em;
    padding: 10px 20px;
    border: 1px solid #000;
    background: none;
    outline: none;
}

img.apply-image {
    width: 50%;
    float: right;
}

/* FOOTER */

footer {
    background: #333;
    overflow: auto;
    color: #fff;
}

div.footer-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

p.copyright {
    font-size: 2em;
    display: inline-block;
    line-height: 70px;
    text-transform: uppercase;
    margin-left: 20px;
}

p.copyright::before {
    content: '\00a9';
    margin-right: 10px;
}

ul.footer-list {
    margin-right: 10px;
    float: right;
}

li.footer-list-item {
    margin: 10px;
    list-style-type: none;
    display: inline-block;
}

a.footer-item-link {
    width: 49px;
    display: block;
}

div.social-media-icon {
    width: 49px;
    height: 49px;
    border-radius: 10px;
}

div.facebook-icon {
    background: url("../images/home-page/footer-sprites.jpg") 0 50px;
}

div.facebook-icon:hover {
    background: url("../images/home-page/footer-sprites.jpg") 0 0;
}

div.twitter-icon {
    background: url("../images/home-page/footer-sprites.jpg") 300px 50px;
}

div.twitter-icon:hover {
    background: url("../images/home-page/footer-sprites.jpg") 300px 0;
}

div.linkedin-icon {
    background: url("../images/home-page/footer-sprites.jpg") 150px 50px;
}

div.linkedin-icon:hover {
    background: url("../images/home-page/footer-sprites.jpg") 150px 0;
}

div.tumblr-icon {
     background: url("../images/home-page/footer-sprites.jpg") 100px 50px;
}

div.tumblr-icon:hover {
    background: url("../images/home-page/footer-sprites.jpg") 100px 0;
}

div.google-icon {
    background: url("../images/home-page/footer-sprites.jpg") 50px 50px;
}

div.google-icon:hover {
    background: url("../images/home-page/footer-sprites.jpg") 50px 0;
}