/* Link border transition */
a.nav-item-link {
    transition: all .3s;
}

/* Border and color transition */
li.nav-item > .nav-item-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    margin: 0 auto;
    height: 2px;
    background: #000000;
    transition: all .3s;
}

a.nav-item-link:hover::after {
    width: 100%;
}

i.home-icon {
    transition: 0.3s 0.5s;
}


/* Home icon rotate when hovered */
li.nav-item:hover i.home-icon {
    padding-left: 7px;
    padding-right: 0;
    transition-delay: 0s;
    transform: rotate(180deg);
}

/* Sublist transition */
ul.nav-sublist {
    transition: 0.5s 0.5s;
}

li.home-item:hover ul.nav-sublist {
    margin-top: 40px;
    display: block;
    opacity: 1;
    transition-delay: 0s;
    pointer-events: auto;
}

/* Sublist items transition */
li.nav-subitem {
    transition: all .3s ease, background .0s;
}

li.nav-subitem:hover {
    font-size: 1.1em;
    background: rgba(0, 0, 0, 0.7);
}

li.nav-subitem:hover a.nav-subitem-link {
    color: #ffffff;
}

/* Services article transition */
article.services-article {
    transition: all .3s ease;
    perspective: 1000px;
}

article.services-article:hover {
    transform-style: preserve-3d;
    cursor: pointer;
}

/* Read more transition */
a.read-more::after {
    content: '';
    background: #000;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 2px;
    transition: all .3s;
}

a.read-more {
    transition: all .3s .1s ease;
}

a.read-more:hover::after {
    width: 30px;
}

article:hover a.read-more {
    opacity: 1;
    pointer-events: auto;
}

/* Services white box transition */
div.services-info-container {
    transition: all .3s .3s;
}

article:hover div.services-info-container {
    transition-delay: 0s;
    transform: translateZ(30px);
    padding-bottom: 80px !important;
}

article:hover p.services-info {
    transform: translateZ(0);
}

/* Apply now button transition */
button.apply-btn {
    transition: all .3s;
}

button.apply-btn:hover {
    background: #333;
    color: #fff;
    padding: 12px 24px;
    border: 1px solid #000;
    box-shadow: 4px 4px 6px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 25px;
}

/* Footer icon transition */
div.social-media-icon {
    transition: all .4s;
}