
/* For large screens and tablets */
@media screen and (max-width: 1259px) {

    /* SERVICES SECTION */

    .services-section {
        text-align: center;
    }

    /* Adding another layer of specificy so it can override */
    .services-section .services-article {
        width: 40%;
        height: 400px;
        margin: 20px;
        display: inline-block;
        text-align: left;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .services-article:nth-child(3) {
        background:
                linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.7)),
                url("../images/home-page/cat-gray-high-mobile.png") no-repeat center;
    }

    .services-article:nth-child(4) {
        background:
                linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.7)),
                url("../images/home-page/cat-fat-square-mobile.png") no-repeat center;
        background-size: cover;
    }

}

/* For medium screens and tablets */
@media screen and (min-width: 1025px){

    /* Fixes bug where rotating screen keeps nav 100vh */
    .nav-stretch {
        height: 100px;
        box-shadow: 0 0 44px rgba(0, 0, 0, .24);
    }


    /* Sublist becomes visible on hover. Else it toggles on click */
    .home-item:hover .nav-sublist {
        margin-top: 40px;
        opacity: 1;
        transition-delay: 0s;
        pointer-events: auto;
    }

    /* Home icon rotate when hovered (not for mobile) */
    .nav-item:hover .home-icon {
        padding-left: 7px;
        padding-right: 0;
        transition-delay: 0s;
        transform: rotate(180deg);
    }
}

/* For medium screens and tablets */
@media screen and (max-width: 1024px) {

    /* HEADER */

    /* NAV */

    .nav-list {
        width: 100%;
        height: 0;
        font-size: 2em;
        padding-top: 20px;
        opacity: 0;
        pointer-events: none;
    }

    .nav-item {
        width: 100%;
        display: block;
    }

    .nav-stretch {
        height: 100vh;
        box-shadow: none;
    }

    .switch-mobile {
        opacity: 1;
        height: auto;
        display: block;
        pointer-events: auto;
    }

    .mobile-link-hovered {
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
    }

    .mobile-icon-rotate {
        padding-left: 7px;
        padding-right: 0;
        transition-delay: 0s;
        transform: rotate(180deg);
    }

    .nav-sublist.toggle-sublist {
        max-height: 190px;
        opacity: 1;
        transition-delay: 0s;
        pointer-events: auto;
        background: linear-gradient(rgba(200, 200, 200, 0.2), rgba(200, 200, 200, 0.2));
    }

    .nav-sublist {
        transition: all 0.5s ease;
        max-height: 0;
        margin: 0 auto;
        padding: 0;
        background: inherit;
        box-shadow: none;
        position: relative;
    }

    .nav-item > .nav-item-link::after {
        right: auto;
        left: 16px;
    }

    .nav-item-link:hover::after {
        width: 20%;
    }

    .icon-list-wrapper {
        margin-right: 30px;
        margin-top: 25px;
    }

    .icon {
        display: block;
    }

    nav {
        padding: 0;
    }

    /* Border under list item doesn't show in mobile */
    .nav-item > .nav-item-link::after {
        display: none;
    }

    .nav-list {
        margin: 0;
    }

    .nav-item-link {
        transition: all 0s;
    }

    .home-icon {
        transition: all 0.3s, color 0.3s;
    }

    /* SERVICES SECTION */

    .services-article:nth-child(4) {
        background-size: contain;
    }
}

/* For medium screens and tablets */
@media screen and (max-width: 1023px) {

    /* MISSION SECTION */

    .mission-article {
        width: 80%;
        margin: 0 auto;
        display: block;
    }

    /* SERVICES SECTION */

    .services-section .services-article {
        width: 80%;
        height: 300px;
        margin: 60px auto;
        display: block;
    }

    /* APPLY SECTION */

    .apply-info-container {
        width: 80%;
        margin: 0 auto 60px;
        position: relative;
    }

    .apply-info-container::after {
        content: '';
        left: 69%;
        top: 96%;
        transform: rotate(90deg);
    }
}

/* For small screens, tablets and smartphones */
@media screen and (max-width: 736px) {

    /* NAV */

    nav {
        height: 79px;
    }

    .logo-wrapper {
        width: 200px;
    }

    .icon-list-wrapper {
        width: 25px;
        height: 25px;
        margin-top: 17px;
    }

    /* BODY */

    body {
        font-size: 11px;
    }

    /* HEADER */
    
    .title-container {
        background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
    }

    .services-section .services-article {
        width: 80%;
        height: 300px;
        margin-top: 60px;
        display: block;
    }

    /* MISSION SECTION */

    .mission-article {
        max-width: 90%;
    }

    /* SERVICES SECTION */

    .services-section-title {
        width: 80%;
        margin: 100px auto;
        text-align: center;
    }


    /* TESTIMONIALS SECTION */

    .testimonials-article {
        background:
                linear-gradient(rgba(229, 224, 221, 0.1), rgba(229, 224, 221, 0.3)),
                url("../images/home-page/orange-cat-testimony-mobile.png") no-repeat center;
        background-size: cover;
    }

    .testimonials-article {
        min-height: 600px;
    }

    .quote-container {
        max-width: 300px;
        margin: 0 20px 20px;
        top: auto;
        bottom: 5%;
        left: 0;
        right: 0;
    }

    .testimonials-quote {
        box-sizing: border-box;
    }

    /* FOOTER */

    .footer-list {
        display: none;
    }
}