/* For now animation-type css is mixed in here. I'm too lazy to move it to a different file right now */

@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: 'Abel', sans-serif;
}

/* Blurriness gets removed from images */
img {
    transform: translateZ(0);
}

/* HEADER */

header {
    background: url("../images/home-page/glasses-cat-matrix.jpg") no-repeat center;
    background-size: cover;
    min-height: 800px;
    max-width: 100%;
    position: relative;
}

img.nav-logo {
    max-width: 300px;
}

nav {
    padding: 20px;
    background:
            linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    overflow: auto;
}

div.nav-wrapper {
    max-width: 1200px;
    margin: 0 auto;

}

/* UNORDERED LIST */
/* Here flex is used so there aren't any invisible borders between list items */
ul.nav-list {
    margin-top: 30px;
    font-size: 1.5em;
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li.nav-item {
    list-style-type: none;
    display: inline-block;
}

a.nav-item-link {
    padding: 20px;
    color: #000;
    text-decoration: none;
    display: block;
    position: relative;
}

i.home-icon {
    padding-right: 7px;
}

/* HOME SUBLIST */
/* Added invisible border below Home so hover can get transfered to sublist */
li.home-item:hover::after {
    content: " ";
    position: absolute;
    width: 30%;
    height: 60px;
    background: transparent;
}

ul.nav-sublist {
    padding: 40px;
    opacity: 0;
    background-color: rgba(239, 239, 239, .85);
    box-shadow: 0 0 84px rgba(0, 0, 0, .24);
    position: absolute;
    margin-top: 60px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

li.nav-subitem {
    list-style-type: none;
}

a.nav-subitem-link {
    padding: 10px;
    color: #000;
    text-decoration: none;
    display: block;
}

/* WELCOME TITLE */
div.title-container {
    margin: 230px auto 0;
    background:
        linear-gradient(to right, rgba(229, 224, 221, 0.3), rgba(229, 224, 221, 0.6), rgba(229, 224, 221, 0.3));
}

h1.welcome-title {
    font-size: 4em;
    font-weight: 300;
    text-align: center;
    text-shadow: 0 0 30px rgb(229, 224, 221);
}

h2.welcome-subtitle {
    font-size: 2.5em;
    font-weight: 300;
    text-shadow: 0 0 30px rgb(229, 224, 221);
    text-align: center;
}

/* MAIN */

/* MISSION SECTION*/
section.mission-section {
    padding-top: 60px;
    text-align: center;
}

article.mission-article {
    display: inline-block;
}

/* FIRST ARTICLE */
article.mission-article {
    padding: 20px;
}

div.mission-article-wrapper {
    margin: 0 auto;
    max-width: 400px;
    min-height: 450px;
    border: 1px solid rgb(229, 224, 221);
    background: #F9F9F9;
}

.first img.mission-image {
    max-width: 100%;
    height: 244px;
}

article.first .mission-paragraph {
    max-width: 390px;
    font-size: 1.7em;
    padding: 20px;
    text-align: left;
    vertical-align: top;
}

a.reddit, a.tumblr, a.catuni {
    color: #B96936;
    text-decoration: none;
}

a.reddit:hover, a.tumblr:hover, a.catuni:hover {
    text-decoration: underline;
}

/* SECOND ARTICLE */
article.mission-article.second {
    vertical-align: top;
}
.second img.mission-image {
    max-width: 100%;
    height: 244px;
}

.second p.mission-paragraph {
    font-size: 1.7em;
    padding: 20px;
    text-align: left;
}

/* CATUNI MISSION ARTICLE*/
article.catuni-mission-article {
    background:
            linear-gradient(rgba(229, 224, 221, 0.6), rgba(229, 224, 221, 0.6)),
            url("../images/home-page/cat-quote-image.jpg") no-repeat center;
    background-size: cover;
    margin: 80px auto 50px;
    padding: 40px;
}

div.catuni-mission-container {
    max-width: 500px;
    vertical-align: top;
    margin: 0 auto;
}

h1.catuni-mission-title {
    font-size: 2.2em;
    font-weight: normal;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
}

/* SERVICES SECTION */

section.services-section {
    max-width: 1200px;
    margin: 0 auto;
}

article.services-article {
    padding: 20px;
    box-shadow: 6px 6px 23px -5px rgba(150, 150, 150, 0.6);
    display: inline-block;
    vertical-align: top;
    position: relative;
}

div.services-info-container {
    background:
        linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8));
}

h1.services-section-title {
    font-size: 4em;
    font-weight: 400;
    border-bottom: 3px solid #333;
    text-align: left;
    text-transform: uppercase;
    margin: 100px;
}

h2.services-title {
    font-size: 2em;
}

p.services-info {
    font-size: 1.4em;
    text-shadow: 1px 1px 10px rgba(150, 150, 150, 0.8);
}

a.read-more {
    font-size: 1.5em;
    padding-top: 10px;
    padding-right: 10px;
    opacity: 0;
    color: #000;
    position: absolute;
    right: 10px;
    bottom: 10%;
    text-decoration: none;
    pointer-events: none;
}

/* FIRST SERVICES ARTICLE */
article.services-article:first-of-type {
    width: 640px;
    height: 310px;
    background:
        linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.7)),
        url("../images/home-page/cat-orange-long.png") no-repeat center;
    top: 60px;
}

.services-article:first-of-type div.services-info-container {
    max-width: 88%;
    padding: 20px;
    position: absolute;
    bottom: 5%;
}

/* SECOND SERVICES ARTICLE */
article.services-article:nth-child(3){
    width: 400px;
    height: 600px;
    background:
        linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.7)),
        url("../images/home-page/cat-gray-high.png") no-repeat center;
    left: 60px;
}

.services-article:nth-child(3) div.services-info-container {
    max-width: 82%;
    padding: 20px;
    position: absolute;
    bottom: 5%;
}

/* THIRD SERVICES ARTICLE */
article.services-article:nth-child(4){
    width: 500px;
    height: 500px;
    background:
        linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.7)),
        url("../images/home-page/cat-fat-square.png") no-repeat center;
    background-size: contain;
    bottom: 160px;
    left: 50px;
}

.services-article:nth-child(4) div.services-info-container {
    max-width: 86%;
    padding: 20px;
    position: absolute;
    bottom: 5%;
}

/* FOURTH SERVICES ARTICLE */
article.services-article:nth-child(5){
    width: 400px;
    height: 450px;
    background:
        linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.7)),
        url("../images/home-page/cat-orange-high.png") no-repeat center;
    background-size: contain;
    top: 80px;
    left: 110px;
}

.services-article:nth-child(5) div.services-info-container {
    max-width: 82%;
    padding: 20px;
    position: absolute;
    bottom: 5%;
}

/* FIFTH SERVICES ARTICLE */
article.services-article:nth-child(6){
    width: 400px;
    height: 450px;
    background:
        linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.7)),
        url("../images/home-page/cat-black-and-white-high.png") no-repeat center;
    background-size: contain;
    bottom: 90px;
    left: 150px;
}

.services-article:nth-child(6) div.services-info-container {
    max-width: 82%;
    padding: 20px;
    position: absolute;
    bottom: 5%;
}

/* SIXTH SERVICES ARTICLE */
article.services-article:nth-child(7){
    width: 400px;
    height: 400px;
    background:
        linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.7)),
        url("../images/home-page/cat-orange-square.png") no-repeat center;
    background-size: contain;
    top: 100px;
    left: 210px;
}

.services-article:nth-child(7) div.services-info-container {
    max-width: 82%;
    padding: 20px;
    position: absolute;
    bottom: 5%;
}

/* TESTIMONIALS SECTION */

section.testimonials-section {
    margin-top: 200px;
}

article.testimonials-article {
    min-height: 600px;
    background:
        linear-gradient(rgba(229, 224, 221, 0.1), rgba(229, 224, 221, 0.3)),
        url("../images/home-page/orange-cat-testimony.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

div.testimonials-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

div.quote-container {
    float: right;
    margin: 200px 60px 0;
    padding: 80px 80px 60px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    position: relative;
}

div.quote-container::before {
    font-family: FontAwesome, sans-serif;
    font-size: 3em;
    top: 20px;
    left: 20px;
    color: #333333;
    content: '\f10d';
    position: absolute;
}

p.testimonials-quote {
    margin-top: 20px;
    font-size: 2.2em;
}

div.testimonials-author {
    font-size: 1.3em;
    float: right;
    margin-top: 30px;
}

div.testimonials-author::before {
    content: '\2014';
}

/* APPLY SECTION */

section.apply-section {
    padding-top: 200px;
    background: linear-gradient(rgba(229, 224, 221, 0.1), rgba(229, 224, 221, 0.5));
    overflow: auto;
}

div.apply-container {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

div.apply-info-container {
    position: absolute;
    top: 30px;
    padding: 40px;
    border: 2px solid #333;
}

div.apply-info-container::after {
    width: 50px;
    height: 52px;
    background: url("../images/home-page/conversation-pointer.png") no-repeat center;
    background-size: contain;
    position: absolute;
    left: 484px;
    top: 180px;
    content: '';
}

h1.apply-title {
    font-size: 3em;
    font-weight: normal;
    border-bottom: 2px solid #333;
}

div.button-container {
    margin-top: 60px;
    height: 30px;
    text-align: center;
}

button.apply-btn {
    font-size: 1.2em;
    padding: 10px 20px;
    border: 1px solid #000;
    background: none;
    outline: none;
}

img.apply-image {
    width: 50%;
    float: right;
}

/* FOOTER */

div.footer-wrapper {
    width: 1200px;
    margin: 0 auto;
}

p.copyright {
    display: inline-block;
}

ul.footer-list {
    float: right;
}

li.footer-list-item {
    display: inline-block;
    list-style-type: none;
}

div.social-media-icon {
    width: 50px;
    height: 50px;
}